[submodule "OpenW1700k"]
	path = OpenW1700k
	url = https://github.com/OpenWRT-fanboy/OpenW1700k.git
[submodule "Apps/luci-app-w1700k-fancontrol"]
	path = Apps/luci-app-w1700k-fancontrol
	url = https://github.com/rchen14b/luci-app-w1700k-fancontrol
[submodule "Apps/luci-app-airoha-npu"]
	path = Apps/luci-app-airoha-npu
	url = https://github.com/rchen14b/luci-app-airoha-npu